section.benefits.main-page-section
	.wide-container
		.wrapper-simple
			h2 Преимущества платформы

			.wrapper-flex
				.feature
					.pictogram
						img(src="img/main-page/pictograms/radius/1.svg" alt="alt")
						+icon('arrow-positive')
					.feature__title Учись сразу
					.feature__text После записи на курс, в течении 5 минут, вам открывается полный доступ ко всем учебным материалам. Не нужно ждать старта, не нужно успевать за общей группой. Учитесь в удобном для вас темпе и комфортной обстановке.

				.feature
					.pictogram
						img(src="img/main-page/pictograms/radius/2.svg" alt="alt")
						+icon('clock')
					.feature__title Доступ к курсу навсегда
					.feature__text Весь контент курса остаётся в вашем личном кабинете без ограничений по времени. Вы всегда можете вернуться к курсу, повторить забытое и узнать новое…

				.feature
					.pictogram
						img(src="img/main-page/pictograms/radius/3.svg" alt="alt")
						+icon('3d')
					.feature__title 365 дней помощь наставника
					.feature__text Весь контент курса остаётся в вашем личном кабинете без ограничений по времени. Вы всегда можете вернуться к курсу, повторить забытое и узнать новое…

				.feature
					.pictogram
						img(src="img/main-page/pictograms/radius/4.svg" alt="alt")
						+icon('refresh')
					.feature__title Обновление курса
					.feature__text Наши курсы постоянно обновляются и дополняются новыми уроками, мастер-классами и рабочими материалами. Вы получаете не просто учебный курс, но огромную базу актуальных знаний.