section.choice-help
	.wide-container
		.wrapper-simple
			.wrapper-flex
				.choice-help__left
					.choice-help__attention !
					.choice-help__title Поможем в выборе!
					.choice-help__text Если у вас есть вопросы о формате или вы не знаете что выбрать, оставьте свой номер: мы позвоним, чтобы ответить на все ваши вопросы
				form.choice-help__form
					label.choice-help__label
						input(autocomplete="off" type="text" name="" class="choice-help__input" placeholder="Имя")
					.choice-help__form-row
						label.choice-help__label
							input(autocomplete="off" type="text" name="" class="choice-help__input" placeholder="Телефон")
						label.choice-help__label
							input(autocomplete="off" type="text" name="" class="choice-help__input" placeholder="Электронная почта")
					
					.choice-help__form-bottom
						button.btn.btn-wht Отправить
						p Нажимая на кнопку, я соглашаюсь на обработку персональнь х данных и с правилами пользования