section.main-screen
	.wrapper-simple
		.main-screen__content
			h1 Образовательная платформа
				br
				| по BIM, CAD, CG

			.main-screen__mob-img
				img(src="img/main-page/main-visual-mob.svg" alt="alt")

			.main-screen__text Большие курсы и короткие интенсивы для новичков, практикующих специалистов и организаций

		.main-screen__directions.directions-main-screen
			.directions-main-screen__title Выбери своё направление:
			.directions-main-screen__tags
				.directions-main-screen__tags-row
					.directions-main-screen__key Проектирование:
					a(href="/").tag.tag-revit-empty Revit
					a(href="/").tag.tag-autocad-empty Autocad
					a(href="/").tag.tag-archicad-empty Archicad

				.directions-main-screen__tags-row
					.directions-main-screen__key Визуализация:
					a(href="/").tag.tag-3ds-empty 3Ds Max
					a(href="/").tag.tag-corona-empty Corona
					a(href="/").tag.tag-lumion-empty Lumion

				.directions-main-screen__tags-row
					.directions-main-screen__key Дизайн:
					.tag.tag-scketch-empty SketchUp
					.tag.tag-landscape-empty Ладшафт
					.tag.tag-interior-empty Интерьеры

		.main-screen__img
			img(src="img/main-page/main-visual.svg" alt="alt")