section.main-screen
	.wrapper-simple
		.wrapper-flex
			.main-screen__content
				h1 Образовательная платформа  по BIM, CAD, CG

				.main-screen__text Большие курсы и короткие интенсивы для новичков, практикующих специалистов и организаций

			.main-screen__directions.directions-main-screen
				.directions-main-screen__title Выбери своё направление:
				.directions-main-screen__tags
					.directions-main-screen__tags-row
						.directions-main-screen__key Проектирование:
						.tag.tag-revit-empty Revit
						.tag.tag-autocad-empty Autocad
						.tag.tag-archicad-empty Archicad

					.directions-main-screen__tags-row
						.directions-main-screen__key Визуализация:
						.tag.tag-3ds-empty 3Ds Max
						.tag.tag-corona-empty Corona
						.tag.tag-lumion-empty Lumion

					.directions-main-screen__tags-row
						.directions-main-screen__key Дизайн:
						.tag.tag-sketchup-empty SketchUp
						.tag.tag-landscape-empty Ладшафт
						.tag.tag-interior-empty Интерьеры

			.main-screen__img
				img(src="img/main-page/main-visual.svg" alt="alt")