section.popular-progs.main-page-section
	.wrapper-simple
		h2 Популярные программы обучения
		.wrapper-flex
			a(href="/").programm-card.programm-card--autocad
				.programm-card__content
					.programm-card__tags
						.tag.tag-mini.tag-autocad-bg Autocad
						.tag.tag-mini.tag-full-bg Полный курс

					.programm-card__body
						.programm-card__title Использование AutoCAD на 100%  Версия 2.0
						.programm-card__text Идейные соображения высшего порядка, а также перспективное планирование предполагает независимые способы реализации инновационных методов управления процессами. В своём стремлении повысить качество жизни...

					.programm-card__bottom
						.programm-card__exp Без подготовки
						.programm-card__params
							div 13 уроков
							div 20 часов
					.program-icon
						img(src=img + "program-icons/autocad.svg" alt="alt")

				.programm-card__img._fit
					img._fit-img(src=img + "/programms-page/autocad/1.jpg" alt="alt")