.popup.popup-demo-disabled#popup-demo-disabled.mfp-hide
		.popup__header
			.popup__logo
				img(src=img + "logo.svg" alt="alt")
		.popup__body
			.popup__title
				.nosmile-icon
					img(src=ico + "/nonsmile.svg" alt="alt")
				Пробный доступ 
				br
				| к курсу на 7 дней окончен
		
			p.popup__text Рекомендуем пройти полную программу обучения

			-var list = ['Бесрочный доступ', 'Поддержка куратора 365 дней', 'Сертификаты международного образца', 'Библиотеки дополнительных материалов', 'Профессиональные работы в портфолио'];
			ul.popup__list
				each li in list
					li= li


			a(href="#").btn.btn-accented Выбрать курс


.popup.popup-last-step#popup-last-step.mfp-hide
		.popup__header
			.popup__logo
				img(src=img + "logo.svg" alt="alt")
		.popup__body
			.popup__title Последний шаг
		
			p.popup__text На ваш почтовый адрес отправлено письмо с подтверждением регистрации. Перейдите в письме по ссылке "Начать обучение”

			.popup-last-step__img
				img(src="img/last-step.jpg" alt="a;t")