section.studs-histories.main-page-section
	.wrapper-simple
		h2 Истории наших студентов

		.wrapper-flex
			.person
				.person__img._fit
					img._fit-img(src="img/main-page/students/1.jpg" alt="alt")
				.person__name Константин
					br
					| Константинопольский
				.person__text А также действия представителей оппозиции призывают нас к новым свершениям, которые, в свою очередь, должны быть превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Но непосредственные участники технического прогресса, инициированные исключительно синтетически, в равной степени предоставлены сами себе.

				a(href="#").person__more.link Подробнее

			.person
				.person__img._fit
					img._fit-img(src="img/main-page/students/2.jpg" alt="alt")
				.person__name Вера
					br
					| Вероникина
				.person__text Есть над чем задуматься: акционеры крупнейших компаний неоднозначны и будут объединены в целые кластеры себе подобных. Как уже неоднократно упомянуто, акционеры крупнейших компаний набирают популярность среди определённых слоёв населения, а значит, должны быть указаны как претенденты на роль ключевых факторов.

				a(href="#").person__more.link Подробнее

			.person
				.person__img._fit
					img._fit-img(src="img/main-page/students/3.jpg" alt="alt")
				.person__name Брабус  Месрседосович
				.person__text В своём стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение нашей деятельности не даёт нам иного выбора, кроме определения позиций, занимаемых участниками в отношении поставленных задач. В частности, дальнейшее развитие различных форм деятельности требует анализа новых принципов формирования материально-технической и кадровой базы.

				a(href="#").person__more.link Подробнее

		a(href="#").btn.btn-bordered Все истории
