extends _misc/main
block title
	| Главная страница
	- var authorized = true;
	- var headerMenu = true;
block content
	.page.index-page
		include _sections/main-scree
		
		.start-learning.start-learning-index
			.wide-container
				.wrapper-simple
					.wrapper-flex
						.start-learning__left
							h2 Начни учиться бесплатно
							p Зарегистрируйся в AMS3 и получи бесплатный доступ к интенсивам, курсам, коллекциям блоков, семейств, моделей и текстур

							.btn.btn-wht.btn-sm Начать обучение

						.start-learning__right
							
							.start-learning__slider-rows.white-nav
								- for (var i=0; i < 2; i++)
									a(href="#").your-choice
										.your-choice__wrap
											.your-choice__header
												.tag.tag-mini.tag-autocad-bg Autocad
												.tag.tag-mini.tag-base-bg Бесплатно
											.your-choice__body
												.your-choice__title Базовый курс Autocad
											.your-choice__bottom
												.your-choice__label 13 уроков
												.your-choice__label Без подготовки

									a(href="#").your-choice
										.your-choice__wrap
											.your-choice__header
												.tag.tag-mini.tag-lumion-bg Lumion
												.tag.tag-mini.tag-base-bg Бесплатно
											.your-choice__body
												.your-choice__title Иллюминация в Lumion 
											.your-choice__bottom
												.your-choice__label 13 уроков
												.your-choice__label Без подготовки
									
									a(href="#").your-choice
										.your-choice__wrap
											.your-choice__header
												.tag.tag-mini.tag-archicad-bg Archicad
												.tag.tag-mini.tag-base-bg Бесплатно
											.your-choice__body
												.your-choice__title Марафон по Archicad
											.your-choice__bottom
												.your-choice__label 13 уроков
												.your-choice__label Без подготовки
									

									a(href="#").your-choice
										.your-choice__wrap
											.your-choice__header
												.tag.tag-mini.tag-3ds-bg 3Ds Max
												.tag.tag-mini.tag-base-bg Бесплатно
											.your-choice__body
												.your-choice__title Базовый курс по 3ds Max + Corona Render
											.your-choice__bottom
												.your-choice__label 13 уроков
												.your-choice__label Без подготовки

							
							.slider-arrow-prev.wht
								+icon('chevron-left')
							.slider-arrow-next.wht
								+icon('chevron-right')

		include _sections/authors-progs
		include _sections/popular
		include _sections/how-learning
		include _sections/benefits
		include _sections/prof-folio
		include _sections/studs-histories
		include _sections/digits
		include _sections/last-mats
//- img(src=img + "demo.jpg")
//- img(src=ico + "amex.svg")

block page-scripts
	//- SERVIVE FUNCTIONS==================

	//- remove-class--------------------------
	//- script(src="js/libs/service-functions/remove-class.js")

	//- siblings--------------------------
	//- script(src="js/libs/service-functions/siblings.js")

	//- webp-detection--------------------------
	//- script(src="js/libs/service-functions/webp-detection.js")

	//- dropdown-toggle on touch devices--------------------------
	//- script(src="js/libs/service-functions/dropdown-toggle.js")

	//- isMobile--------------------------
	//- script(src="js/libs/service-functions/mobileDetect.js")

	//- All in one file--------------------------
	//- script(src="js/libs/service-functions/all-functions.js")


	//- WITH JQUERY===================================
	//- jquery--------------------------
	//- script(src="js/libs/jquery/jquery-3.1.1.min.js")

	//- jquery-UI--------------------------
	//- script(src="js/libs/jquery-ui/jquery-ui.min.js")
		
	//- magnific-popup--------------------------
	//- script(src="js/libs/magnific-popup/dist/jquery.magnific-popup.min.js")
		
	//- slick--------------------------
	script(src="js/libs/slick/slick.min.js")

	script(src="js/libs/mediaelement/mediaelement-and-player.min.js")
		
	//- slick-master (без лишних контейнеров)--------------------------
	//- script(src="js/libs/slick-master/slick.js")

	//- script(src='https://api-maps.yandex.ru/2.1/?apikey=1be0e242-a0f9-4c70-8d5c-f2f3df5c3e40&load=&lang=ru_RU' type='text/javascript')

	//- superfish--------------------------
	//- script(src="js/libs/superfish/dist/js/hoverIntent.js")
	//- script(src="js/libs/superfish/dist/js/superfish.min.js")

	//- end WITH JQUERY===================================


	//- VANILLA JS===================================
	//- dynamic-adaptive--------------------------
	//- script(src="js/libs/dynamic-adaptive/da.min.js")
		
	//- slideout--------------------------
	//- script(src="js/libs/slideout/slideout.js")

	//- multilevel-panel--------------------------
	//- script(src="js/libs/multilevel-panel/multilevel-panel.js")

	//- multilevel-dropdown-menu--------------------------
	//- script(src="js/libs/multilevel-dropdown/multidropdown.js")
			
	//- lazysizes--------------------------
	//- script(src="js/libs/lazysizes/lazysizes.min.js")	
		
	//- accordion--------------------------
	//- script(src="js/libs/accordion/vanilla-accordion.js")
		
	//- tabs--------------------------
	//- script(src="js/libs/tabs/tabs-pure.js")
		
	//- micromodal--------------------------
	//- script(src="js/libs/micromodal/micromodal.js")	
		
	//- swiper--------------------------
	//- script(src="js/libs/swiper/swiper.min.js")

	//- noUiSlider--------------------------
	//- script(src="js/libs/noUiSlider/nouislider.min.js")

	//- iMask--------------------------
	//- script(src="js/libs/imask/imask.js")

	//- FormHandler--------------------------
	//- script(src="js/libs/formhandler.js-1.1.2/dist/js/FormHandler.min.js")

	//- ratings--------------------------
	//- script(src="js/libs/rating/ratings.js")

	//- sticky-sidebar--------------------------
	//- https://abouolia.github.io/sticky-sidebar/#usage
	//- script(src="js/libs/sticky-sidebar/dist/resizeSensor.js")
	//- script(src="js/libs/sticky-sidebar/dist/sticky-sidebar.min.js")

	//- simplebar--------------------------
	//- USE:	new SimpleBar(document.querySelector('mySelector'), { autoHide: false });
	//- script(src="js/libs/simplebar/simplebar.min.js")
		
	//- fstdropdown (кастомный селект), исп-е.: <select data-searchdisable="true" class="fstdropdown-select">
	//- script(src="js/libs/fstdropdown/fstdropdown.min.js")

	//- baguetteBox-------------------------- use: https://github.com/feimosi/baguetteBox.js#usage
	//- script(src="js/libs/baguetteBox/dist/baguetteBox.min.js")

	//- svg4everybody--------------------------
	//- script(type="text/javascript" src="js/libs/svg4everybody/svg4everybody.min.js" async onload="svg4everybody();")
		
	//- end VANILLA JS===================================