extends _misc/main
block title
	| Главная страница
	- var authorized = true;
	- var headerMenu = true;
block content
	a(href="#popup-demo-disabled").popup-with-form Пробный доступ
	a(href="#popup-last-step").popup-with-form Последний шаг
	include _sections/popups
block page-scripts
	script(src="js/libs/magnific-popup/dist/jquery.magnific-popup.min.js")