.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-Behance {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-Dribble {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-Facebook {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-LinkIn {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-Telegram {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-Twiter {
	font-size:(24/10)*1rem;
	width:(28/24)*1em;
}
.icon-VK {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-Youtube {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-burger {
	font-size:(27/10)*1rem;
	width:(36/27)*1em;
}
.icon-chevron-down {
	font-size:(7/10)*1rem;
	width:(12/7)*1em;
}
.icon-chevron-left {
	font-size:(12/10)*1rem;
	width:(7/12)*1em;
}
.icon-chevron-right {
	font-size:(12/10)*1rem;
	width:(7/12)*1em;
}
.icon-close {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-close-white {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-download {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-insta {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-magnifier {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-play {
	font-size:(35/10)*1rem;
	width:(31/35)*1em;
}
