 /*--------------------UI----------------------*/
h1, h2, h3, h4, h5, h6{
	margin-top: 0;
	font-weight: normal;
	font-family: $bold;
}
h1{
	margin-bottom: 40px;
	font-size: 48px;
	line-height: calc(59/48);
}
h2{
	margin-bottom: 20px;
	font-size: 28px;
	line-height: calc(34/28);
}
h3{
	margin-bottom: 10px;
	font-size: 20px;
line-height: calc(24/20);
}
.main-page-section{
	h2{
		max-width: 670px;
		@include adaptive-value('margin-bottom', 70, 29, 1);
		@include adaptive-value('font-size', 56, 28, 1);
		font-size: 56px;
		line-height: 110%;
	}
}
.tag{
	display: inline-block;
	padding: 5px 15px;
	margin-bottom: 10px;
	font-family: $semi;
	text-align: center;
	line-height: calc(20 / 16);
	border-radius: 50px;
	border: 1px solid transparent;
	text-decoration: none;
	color: $text;

	&-mini{
		padding: 3px 10px;
		font-size: 12px;
		line-height: 15px;
	}


	&-misc-empty{
		border-color: #6B6B72;
	}
	&-base-empty{
		border-color: #A7A7A7;
	}
	&-full-empty{
		border-color: #FFEF68;
	}
	&-landscape-empty{
		border-color: #94D37E;
	}
	&-reviews-empty{
		border-color: #FF5A30;
	}
	&-revit-empty{
		border-color: #4B92C6;
	}
	&-autocad-empty{
		border-color: #FF7878;
	}
	&-archicad-empty{
		border-color: #86ADFF;
	}
	&-3ds-empty{
		border-color: #5DC0C5;
	}
	&-lumion-empty{
		border-color: #88AEC0;
	}
	&-corona-empty{
		border-color: #7B61FF;
	}
	&-interior-empty{
		border-color: #D0C87D;
	}
	&-landscape-empty{
		border-color: #94D37E;
	}
	&-scketch-empty{
		border-color: #56BCFF;
	}
	&-misc-bg{
		background-color: #6B6B72;
	}
	&-base-bg{
		background-color: #B5EFA0;
	}
	&-full-bg{
		background-color: #FFEF68;
	}
	&-autocad-bg{
		color: #fff;
		background-color: #FF7878;
	}
	&-free-bg{
		background-color: #B5EFA0;
	}
	&-archicad-bg{
		color: #fff;
		background-color: #86ADFF;
	}
	&-lumion-bg{
		color: #fff;
		background-color: #88AEC0;
	}
	&-3ds-bg{
		color: #fff;
		background-color: #5DC0C5;
	}
	&-sketch-bg{
		color: #fff;
		background-color: #56BCFF;
	}
	&-revit-bg{
		color: #fff;
		background-color: #4B92C6;
	}
	&-corona-bg{
		color: #fff;
		background-color: #FF886A;
	}
}
.user-avatar{
	width: 250px;
	height: 250px;
	flex-shrink: 0;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	img{
		@include absolute-center;
	}
}
.breadcrumbs{
	@include adaptive-value('margin-top', 40, 35, 1);
	margin-bottom: 36px;
	display: flex;
	flex-wrap: wrap;
	font-family: $bold;
	align-items: flex-end;

	&-minimize{
		margin-bottom: 50px;
		.breadcrumbs__link{
			display: inline-flex;
			align-items: center;
			font-size: 16px;

			.icon{
				margin-right: 16px;
				font-size: 12px;
			}
		}
	}
}
.breadcrumbs__item{
	list-style-type: none;
	&:not(:last-child){
		&:after{
			content: '/';
			position: relative;
			top: -3px;
			display: inline-block;
			vertical-align: bottom;
			margin: 0 10px;
			font-size: 20px;
			line-height: calc(24/20);
		}
	
	}
}
.breadcrumbs__link{
	font-size: 20px;
	line-height: calc(24/20);
	text-decoration: none;
	color: $text;

}
.breadcrumbs__target{
	font-size: 36px;
	line-height: calc(44/44);

	@include max-screen(350px){
		font-size: 28px;
	}

	span{
		@include max-screen($sm){
			display: none;
		}
	}
}
.breadcrumbs-iconed{
	position: relative;
	.breadcrumbs{
		padding-right: 80px;
	}
}

.link{
	position: relative;
	transition: all .1s;
	color: $text;
	font-family: $semi;
	text-decoration: none;

	&:after{
		content: '';
		position: absolute;
		bottom: -3px;
		left: 0;
		right: 0;
		width: 100%;
		height: 2px;
		background-color: $accent;
	}
	&:hover{
		color: $accent;
	}
	
}
.form{
	&__label{
		display: block;
		margin-bottom: 30px;
		position: relative;

		// &--check{
		// 	display: flex;
		// 	align-items: center;
		// }
	}
	&__input{
		padding: 16px;
		height: 44px;
		font-size: 14px;
		line-height: 18px;
		border-radius: 5px;
		border: 1px solid #6F6F75;
		font-family: $ibm-reg;
		color: $text;
		background-color: transparent;
		@include placecolor($text);
	}

	&__checkbox {
		@include checkbox();

		&:checked + .form__false-checkbox{
			background: $accent;
			border-color: $accent;
			.icon{
				display: block;
			}
		}
	}
	&__false-checkbox {
		position: relative;
		width: 20px;
		height: 20px;
		margin-right: 12px;
		display: inline-block;
		vertical-align: middle;
		background-color: transparent;
		border-radius: 5px;
		border: 1px solid #DBDBDB;

		.icon{
			@include absolute-center();
			display: none;
			font-size: 10px;
			color: #2D2D2F;
		}
	}
	&__checkbox-label {
		vertical-align: middle;
	}
}
.search{
	// position: relative;
	display: flex;
}

.search__button{
	width: 40px;
	height: 44px;
	flex-shrink: 0;
	background-color: transparent;
	border: none;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	.icon{
		font-size: 18px;
	}
}
.socials{
	display: flex;
	align-items: center;
}
.socials__item{
	list-style-type: none;

	&:not(:last-child){
		margin-right: 36px;
	}
}
.socials__link{
	color: $text;
	text-decoration: none;

	.icon{
		font-size: 20px;
	}
}
.page404{

	@include max-screen($md){
		overflow-x: hidden;
		height: 100%;
		
	}
	.wrapper-simple{
		position: relative;
	}
}
.page404__content{
	padding-top: 90px;
	@include adaptive-value('padding-top', 90, 30, 1)
	margin-bottom: 140px;
}
.page404__title{
	font-size: 300px;
	// @include adaptive-font(300, 250);
	line-height: calc(366/300);
	font-family: $bold;

	@include max-screen($lg){
		font-size: calc(200px + 50 * ((100vw - 320px) / 1600))
	}  

	@include max-screen($xs){
		position: relative;
		margin-bottom: 150px;
		z-index: 2;
	}
	@include max-screen($xss){
		font-size: 130px;
	}
}
.page-inprogress{
	.page404__title{
		color: $accent;
	}
}
.page404__text{
	padding: 0;
	margin-bottom: 40px;
	font-size: 36px;
	line-height: 44px;
	font-family: $bold;
	span{
		display: block;
	}
}
.page404__pict{
	position: absolute;
	top: 50%;
	margin-top: 50px;
	right: -244px;
	transform: translateY(-50%);
	width: prc(1035, 1200);

	@include max-screen($xs){
		top: 0;
		left: 20%;
		transform: translateY(0);
		transform: translateX(-20%);
		width: 480px;
	}

	img{
		max-width: 100%;
	}
}
.play-button{
	@include absolute-center;
	width: 100px;
	height: 100px;
	background-color: $accent;
	z-index: 2;
	border-radius: 50%;

	.icon{
		color: $text;
		@include absolute-center;
		font-size: 46px;
		margin-left: 5px;
	}
}
.program-icon{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: relative;
	background-color: $gray-bg;
	flex-shrink: 0;

	img{
		@include absolute-center;
		max-width: 70%;
		max-height: 70%;
		display: block;
	}
}

.popup{
	max-width: 870px;
	margin: 0 auto;
	position: relative;
	@include adaptive-value('padding-top', 70, 30, 1);
	@include adaptive-value('padding-right', 70, 30, 1);
	@include adaptive-value('padding-bottom', 104, 30, 1);
	@include adaptive-value('padding-left', 130, 30, 1);
	background: #fff;
}

.popup__header{
	// margin-bottom: 50px;
	@include adaptive-value('margin-bottom', 50, 20, 1);
}
.popup__logo{
	width: 150px;
	img{
		max-width: 100%;
	}
}
.popup__body{
	.form{
		margin-top: 50px;
		max-width: 370px;
	}

}
.popup__title{
	margin-bottom: 20px;
	font-family: $bold;
	// font-size: 36px;
	@include adaptive-value('font-size', 36, 28, 1);
line-height: calc(44/36);
}
.popup__text{
	font-size: 20px;
	line-height: calc(27.2/20);
}
.popup-gallery{
	max-width: 1170px;
	padding: 30px;

	@include max-screen($sm){
		padding-left: 15px;
		padding-right: 15px;
	}  
	.popup__header{
		margin-bottom: 30px;
		

		.user-card{
			align-items: center;

			@include max-screen($sm){
				display: block;
			}
			.tag{
				margin-right: 20px;
				margin-bottom: 0;
				@include max-screen($sm){
					margin-bottom: 15px;
				}
			}

		}

		.user-card__info{
			display: flex;
			align-items: center;

		}

		.user-card__name{
			margin-right: 10px;
		}
	}
	.popup__body{
		position: relative;
	}

}
.popup-gallery__label{
	position: absolute;
	left: 20px;
	bottom: 10px;
}
.popup-demo-disabled{
	.popup__title{
		display: flex;

		@include max-screen($xs){
			display: block;
		}  
	}
}
.nosmile-icon{
	width: 100px;
	height: 100px;
	flex-shrink: 0;
	// display: inline-block;
	margin-left: -13px;
	margin-right: 32px;
	margin-top: -5px;
	position: relative;

	@include max-screen($xs){
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 10px;
	}

	img{
		@include absolute-center;
	}
}
.popup__list{
	padding-left: 25px;
	margin-bottom: 50px;

	@include max-screen($xs){
		margin-bottom: 20px;
	}  

	li{
		padding-left: 14px;
		font-size: 18px;
		line-height: 150%;
		list-style-image: url($svg + "/list-check.svg");


		&:not(:last-child){
			margin-bottom: 10px;
		}
	}
}
.popup-last-step__img{
	margin-top: 50px;

	@include max-screen($xs){
		margin-top: 20px;
	}  

	img{
		max-width: 100%;
	}
}

.popup-demo-disabled{
	button.mfp-close{
		top: 0;
		right: -60px;

		@include max-screen($md){
			top: 0;
			right: 0;
		}  
	}
}

.user-card--row{
	align-items: center;

	@include max-screen($sm){
		display: block;
	}
	.tag{
		margin-right: 20px;
		margin-bottom: 0;
		@include max-screen($sm){
			margin-bottom: 15px;
		}
	}
	.user-card__info{
			display: flex;
			align-items: center;

		}

		.user-card__name{
			margin-right: 10px;
		}
}
.popup-gallery__slide{
	padding-bottom: prc(720, 1110);
}
.slider-arrow-prev,
.slider-arrow-next{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	border-radius: 50%;
	background-color: $accent;
	cursor: pointer;
	user-select: none;

	&.wht{
		background-color: #fff;
	}

	.icon{
		@include absolute-center;
	}
}
.slider-arrow-prev{
	left: -90px;
	@include max-screen($lg){
		left: 0px;
	}  
}
.slider-arrow-next{
	right: -90px;	
	@include max-screen($lg){
		right: 0px;
	}  
}
.slick-dotted.slick-slider{
	margin-bottom: 0;
}
.slick-dots{
	position: static;
	margin-top: 15px;

	li{
		margin: 0 5px;
		width: auto;
		height: auto;

		&.slick-active{
			button{
				background-color: $text;
			}

		}

		button{
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #DBDBDB;
			&:before{
				content: '';
			}

		}

	}
}
.dots-accented{
	.slick-dots li.slick-active button {
    	background-color: #FFEF68;
	}
}
.white-nav{
	.slider-arrow-prev,
	.slider-arrow-next{
		background-color: #fff;
	}

	.slick-dots{
		button{
			background-color: #fff;
		}
	}
}
button.mfp-close{
	width: 48px;
	height: 48px;
	top: -40px;
	right: -40px;
	background-image: url($svg + "close-white.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px 20px;

	@include max-screen($md){
		top: 0;
		right: 0;
		background-image: url($svg + "close.svg");
	}  
}
.mfp-close:active{
	top: -40px;

	@include max-screen($md){
		top: 0;
	} 
}
.mfp-close-btn-in .mfp-close{
	color: transparent;
}
.mfp-iframe-holder .mfp-close{
	background-position: right center;
}
.iti{
	display: block;
}
.iti__flag {background-image: url($img + "tel-flags/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url($img + "tel-flags/flags@2x.png");}
}

.wide-container{
	padding-top: 70px;
	padding-bottom: 70px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #F8F8FA;

  &--accent{
  	background-color: $accent;
  }
}

.mejs__overlay-button{
	background: url($img + 'play-button.svg') no-repeat;
  background-position: 0 0;
  height: 100px;
  width: 100px;

  @include max-screen($xss){
  	width: 50px;
  	height: 50px;
  	background-size: contain;
  }  
}
.mejs__overlay:hover > .mejs__overlay-button {
    background-position: -100px -10px; 
}

.programm-card {
	
	min-height: 300px;
	border-radius: 10px;
	@include col();

	text-decoration: none;
	color: $text;

	&:not(.programm-card--promotional){
		display: flex;

		@media (any-hover: hover) {
			&:hover{
				h3,
				.programm-card__bottom{
					display: none;
				}
				.programm-card__text{
					display: block;
				}
			}
		}
	}
	&--promotional{
		display: flex;
		flex-direction: column;
	}
	&__top{
		width: 100%;
		display: flex;
		flex: 1 1 auto;
	}

	&.bg-autocad{
		.program-icon {
			background-color: #FFF1F1;
		}
	}
	&.bg-archicad{
		.program-icon {
			background-color: #E8EFFF;
		}
	}
	&.bg-revit{
		.program-icon {
			background-color: #EBF0F3;
		}
	}
	&.bg-3ds{
		.program-icon {
			background-color: #E5F7F8;
		}
	}
	&.bg-sketchup{
		.program-icon {
			background-color: #E8F6FF;
		}
	}

	h3, h2{
		margin: 0;
		font-family: $bold;
			font-size: 24px;
		line-height: calc(29/24);
	}
	
}
.bg-autocad{
	background-color: #FFF1F1;
}
.bg-archicad{
	background-color: #E8EFFF;
}
.bg-revit{
	background-color: #EBF0F3;
}
.bg-3ds{
	background-color: #E5F7F8;
}
.bg-sketchup{
	background-color: #E8F6FF;
}
.programm-card__content {
	padding: 30px 5px 20px 20px;
	flex: 1 1 prc(280, 470);
	display: flex;
	position: relative;
	flex-direction:column;
		.program-icon{
			position: absolute;

			bottom: 10px;
			right: -24px;
			z-index: 2;		
		}
}
.programm-card__sale-label{
	width: 48px;
	height: 48px;
	border-radius: 50%;	
	position: absolute;
	z-index: 2;
	top: 16px;
	right: -34px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $red;
	color: #fff;
	font-size: 14px;
line-height: 17px;
font-family: $black;

	@include max-screen($xss){
		right: -10px;
	}
	@include max-screen(320px){
		right: -24px;
	}
}
.programm-card__img {
	margin-left: 10px;
	padding-bottom: 0;
	border-radius: 0 10px 10px 0;
	flex: 1 1 prc(180, 470);
	overflow: hidden;

	@include max-screen($xss){
		margin-left: 0;
		border-radius: 0 0 10px 10px;
	}  
}
.programm-card__tags {
	margin-bottom: 10px;
	flex: 0 0 auto;

	.tag{
		&:not(:last-child){
			margin-right: 10px;
		}
	}
}

.programm-card__text{
	max-height: 199px;
	overflow: hidden;
	font-size: 14px;
	line-height: 18px;
	// @include dots-family-multi(9);
	display: none;
}
.programm-card__body{
	flex: 1 1 auto;
	margin-bottom: 20;
}
.programm-card__bottom {
	padding-top: 30px;
	flex: 0 0 auto;
	margin-top: auto;
}
.programm-card__exp {

}
.programm-card__params {
	display: flex;
	width: 100%;

	div{

		&:not(:last-child){
			margin-right: 20px;
		}
	}
}
.programm-card__footer {
	flex: 0 0 auto;
	margin-top: auto;
	border-top: 2px solid #fff;
}
.programm-card__inform{
}
.programm-card__prices {
	padding: 20px 40px 0 40px;
	margin-bottom: 20px;
	display: flex;
	align-items: flex-end;

	@include max-screen($xs){
		display: block;
		padding-left: 20px;
		padding-right: 20px;
	}

	p{
		margin: 0;
		font-size: 12px;
		color: #6F6F75;
	}
}

.sale-programm-card {
	flex: 0 0 50%;
	
	@include max-screen($xs){
		margin-bottom: 20px;
		text-align: center;
	}
}
.sale-programm-card__old {
	font-family: $bold;
	font-size: 20px;
	line-height: 24px;
	text-decoration: line-through;
	color:  #FF886A;
}
.sale-programm-card__new {
	font-family: $bold;
	font-size: 20px;
	line-height: 24px;
}
.programm-card__actual {
	text-align: center;
	p{
		width: 100%;
		text-align: center;
	}
}
.actual-programm-card {

	flex: 0 0 50%;
}
.actual-programm-card__values{
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 100%;

	
}
.actual-programm-card__val {
	font-family: $bold;
	font-size: 28px;
	line-height: calc(34/28);

	// @include dots-family();
}

.programm-card__buttons {
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;

	@include max-screen($xs){
		display: block;
		padding-left: 20px;
		padding-right: 20px;
	}
	.btn-bordered {
		border-color: $accent;

		@include max-screen($xs){
			margin-top: 20px;
		}
		@include max-screen(340px){
			font-size: 14px;
		}
	}


	@include max-screen($xs){
		display: block;
	}
}
.programm-card__terms {
	padding: 5px 15px;
	text-align: center;
	color: #fff;
	background-color: $red;
	font-size: 14px;
line-height: 17px;
font-family: $semi;
	border-radius: 0 0 10px 10px;
}
.tippy-box{
	color: $text;
	background-color: $accent;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
.tippy-arrow{
	color: $accent;
}
.tippy-content{
	padding: 10px 20px;
}
.cover{
	display: none;
	position: fixed;
	z-index: 96;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(#000, .4);
}
/*--------------------END UI----------------------*/ 