.lesson-chat
	.lesson-chat__title Комментарии

	.lesson-chat__item.item-lesson-chat
		p Ещё нет комментариев, напишите первый

		.lesson-chat__form.form.form-lesson-chat
			.form-lesson-chat__row
				textarea(name="name" class="form__textarea" placeholder="Написать комментарий")

				label.form__label.form-lesson-chat__file
					input(type="file")
					span.file-icon
						+icon('add-file')
					span.form-lesson-chat__add-file Прикрепить файл

				button.btn.btn-sm.btn-accented Отправить

			label.form__label.form-lesson-chat__field
				input(type="file")
				span.form__file-fild Перетащите сюда файл


	.lesson-chat__title Комментарии (#[span.lesson-chat__count 36])
	.lesson-chat__item.item-lesson-chat
		.item-lesson-chat__header
			.item-lesson-chat__avatar
				img(src="img/lesson-page/user1.jpg" alt="alt")
			.item-lesson-chat__user
				.item-lesson-chat__name Константин Константинопольский
					span.item-lesson-chat__role (Студент)
				.item-lesson-chat__time 5 часов назад
		
		.item-lesson-chat__body
			p Господа, экономическая повестка сегодняшнего дня в значительной степени обусловливает важность форм воздействия

			//- .item-lesson-chat__img
			//- 	img(src="img/lesson-page/chat-img.jpg" alt="alt")

		a(href="#").item-lesson-chat__write.link Ответить

		.lesson-chat__item.item-lesson-chat
			.item-lesson-chat__header
				.item-lesson-chat__avatar
					img(src="img/lesson-page/lisa.jpg" alt="alt")
				.item-lesson-chat__user
					.item-lesson-chat__name Лиза Три
						span.item-lesson-chat__role (Преподаватель)
					.item-lesson-chat__time 5 часов назад
			
			.item-lesson-chat__body 
				p Господа, экономическая повестка сегодняшнего дня в значительной степени обусловливает важность форм воздействия

				a(href="../img/lesson-page/chat-img.jpg").item-lesson-chat__img
					img(src="img/lesson-page/chat-img.jpg" alt="alt")

			a(href="#").item-lesson-chat__write.link Ответить
			
			.lesson-chat__item.item-lesson-chat
				.item-lesson-chat__header
					.item-lesson-chat__avatar
						img(src="img/lesson-page/lakama.jpg" alt="alt")
					.item-lesson-chat__user
						.item-lesson-chat__name Камилла Лакама
							span.item-lesson-chat__role (Преподаватель)
						.item-lesson-chat__time 5 часов назад
				
				.item-lesson-chat__body 
					p Господа, экономическая повестка сегодняшнего дня в значительной степени обусловливает важность форм воздействия

					a(href="../img/lesson-page/chat-img.jpg").item-lesson-chat__img
						img(src="img/lesson-page/chat-img.jpg" alt="alt")

				a(href="#").item-lesson-chat__write.link Ответить

				.lesson-chat__item.item-lesson-chat
					.item-lesson-chat__header
						.item-lesson-chat__avatar
							img(src="img/lesson-page/user2.jpg" alt="alt")
						.item-lesson-chat__user
							.item-lesson-chat__name Николай Жвавый
								span.item-lesson-chat__role (Студент)
							.item-lesson-chat__time 5 часов назад
					
					.item-lesson-chat__body 
						p Господа, экономическая повестка сегодняшнего дня в значительной степени обусловливает важность форм воздействия

						a(href="../img/lesson-page/chat-img.jpg").item-lesson-chat__img
							img(src="img/lesson-page/chat-img.jpg" alt="alt")

					.lesson-chat__form.form.form-lesson-chat
						.form-lesson-chat__row
							textarea(name="name" class="form__textarea" placeholder="Написать комментарий")

							label.form__label.form-lesson-chat__file
								input(type="file")
								span.file-icon
									+icon('add-file')
								span.form-lesson-chat__add-file Прикрепить файл

							button.btn.btn-sm.btn-accented Отправить

						label.form__label.form-lesson-chat__field
							input(type="file")
							span.form__file-fild Перетащите сюда файл

					.lesson-chat__item.item-lesson-chat
						.item-lesson-chat__header
							.item-lesson-chat__avatar
								img(src="img/lesson-page/user1.jpg" alt="alt")
							.item-lesson-chat__user
								.item-lesson-chat__name Константин Константинопольский
									span.item-lesson-chat__role (Студент)
								.item-lesson-chat__time 5 часов назад
						
						.item-lesson-chat__body 
							p Господа, экономическая повестка сегодняшнего дня в значительной степени обусловливает важность форм воздействия

							a(href="../img/lesson-page/chat-img.jpg").item-lesson-chat__img
								img(src="img/lesson-page/chat-img.jpg" alt="alt")

						a(href="#").item-lesson-chat__write.link Ответить

						.lesson-chat__item.item-lesson-chat
							.item-lesson-chat__header
								.item-lesson-chat__avatar
									img(src="img/lesson-page/lisa.jpg" alt="alt")
								.item-lesson-chat__user
									.item-lesson-chat__name Lisa Tri
										span.item-lesson-chat__role (Студент)
									.item-lesson-chat__time 5 часов назад
							
							.item-lesson-chat__body 
								p Господа, экономическая повестка сегодняшнего дня в значительной степени обусловливает важность форм воздействия

								a(href="../img/lesson-page/chat-img.jpg").item-lesson-chat__img
									img(src="img/lesson-page/chat-img.jpg" alt="alt")

							.lesson-chat__form.form.form-lesson-chat
								.form-lesson-chat__row
									textarea(name="name" class="form__textarea" placeholder="Написать комментарий")

									label.form__label.form-lesson-chat__file
										input(type="file")
										span.file-icon
											+icon('add-file')
										span.form-lesson-chat__add-file Прикрепить файл

									button.btn.btn-sm.btn-accented Отправить

								label.form__label.form-lesson-chat__field
									input(type="file")
									span.form__file-fild Перетащите сюда файл

		
	.lesson-chat__item.item-lesson-chat
		.item-lesson-chat__header
			.item-lesson-chat__avatar
				img(src="img/lesson-page/user1.jpg" alt="alt")
			.item-lesson-chat__user
				.item-lesson-chat__name Константин Константинопольский
					span.item-lesson-chat__role (Студент)
				.item-lesson-chat__time 5 часов назад
		
		.item-lesson-chat__body 
			p Господа, экономическая повестка сегодняшнего дня значительной степени обусловливает важность форм воздействия

			a(href="../img/lesson-page/chat-img.jpg").item-lesson-chat__img
				img(src="img/lesson-page/chat-img.jpg" alt="alt")

		a(href="#").item-lesson-chat__write.link Ответить

	.lesson-chat__form.form.form-lesson-chat
		.form-lesson-chat__row
			textarea(name="name" class="form__textarea" placeholder="Написать комментарий")

			label.form__label.form-lesson-chat__file
				input(type="file")
				span.file-icon
					+icon('add-file')
				span.form-lesson-chat__add-file Прикрепить файл

			button.btn.btn-sm.btn-accented Отправить

		label.form__label.form-lesson-chat__field
			input(type="file")
			span.form__file-fild Перетащите сюда файл