.prizes
	.wide-container.wide-container--accent
		.wrapper-simple
			.prizes__content
				.prizes__text
					.prizes__title Призы победителям
					.prizes__subtitle Призовой фонд 100 000 ₽
					.prizes__descr По каждому направлению будет выбран 1 победитель. Итого — 4 победителя. Каждый получит по 25 000 рублей.
					p * Высылая работу на конкурс, вы соглашаетесь с демонстрацией ваших проектов в Учебном центре «AMS³». Гарантируем не распространять исходные рабочие файлы AutoCAD, Revit, ARCHICAD, 3dsMax
				
				.prizes__currency
					div ₽