.start-learning
	.wide-container
		.wrapper-simple
			.wrapper-flex
				.start-learning__left
					.start-learning__title Начни учиться бесплатно
					p Зарегистрируйся в AMS3 и получи бесплатный доступ к интенсивам, курсам, коллекциям блоков, семейств, моделей и текстур

					.btn.btn-wht.btn-sm Начать обучение

				.start-learning__right
					.start-learning__slider.white-nav
						- for (var i=0; i < 9; i++)
							.your-choice
								.your-choice__wrap
									.your-choice__header
										.tag.tag-mini.tag-autocad-bg Autocad
										.tag.tag-mini.tag-base-bg Бесплатно
									.your-choice__body
										.your-choice__title Базовый курс по 3ds Max + Corona Render
										.your-choice__img._fit
											img._fit-img(src=img + 'you-selection.jpg' alt="alt")
										.your-choice__bottom
											.your-choice__label 13 уроков
											.your-choice__label Без подготовки
					.slider-arrow-prev.wht
						+icon('chevron-left')
					.slider-arrow-next.wht
						+icon('chevron-right')
