.top-timer
	.wrapper-simple
		a(href="/").top-timer__content
			.top-timer__percents -35%
			.top-timer__slogan Распродажа на все курсы!
			.timer-window
				.timer-window__caption Осталось:
				.timer-window__timer(data-date="2022-03-24 00:00:00")
					.timer-window__block.timer-window__days
						.timer-window__days-count 12
						.timer-window__label дни
					.timer-window__block
						.timer-window__hour.timer-window__count 08
						.timer-window__label часы
					.timer-window__block
						.timer-window__minute.timer-window__count 45
						.timer-window__label минуты
					.timer-window__block
						.timer-window__second.timer-window__count 32
						.timer-window__label секунды
			
			.top-timer__button Получить скидку