/*=====================Chat-student=========================*/
.lesson-chat{
	@include adaptive-value('padding-top', 70, 30, 1);
    @include adaptive-value('padding-bottom', 70, 30, 1);
	background: $gray-bg;

    p{
        line-height: 150%;
    }
}
.lesson-chat__title{
    margin-bottom: 33px;
}
.form-lesson-chat__row{
	align-items: flex-start;

     .btn{
        width: 132px;
     }
}
.form-lesson-chat__file{
    padding-top: 10px;
}
.form-lesson-chat__row{
}
.form-lesson-chat__area{
    // outline: 1px solid red;
    flex: 1 1 auto;
    align-self: stretch;
}
.form-lesson-chat__row .form__textarea {
    width: 100%;
    padding: 16px;
    min-height: 160px;
    height: 100%;
    font-size: 14px;
    line-height: 18px;
    border-radius: 5px;
    border: 1px solid #6F6F75;
    font-family: "IBMPlexSans-Regular", sans-serif;
    color: #2D2D2F;
    background-color: transparent;
    display: block;
    vertical-align: middle;
    padding: 10px 16px 0 16px;
    resize: none;
    outline: none;
}
@import "../js/libs/jquery-ui-1.13.2.custom/jquery-ui.min";
@import "../js/libs/jquery-ui-1.13.2.custom/jquery-ui.theme";
@import "../js/libs/jquery-ui-1.13.2.custom/jquery-ui.structure.min";

.ui-resizable-s {
    cursor: s-resize;
    // width: 28px;
    height: 30px;
    bottom: 0;
    right: 50px;
    left: 0;
    background-image: url(../img/textarea-angle.svg);
    background-position: calc(100% - 21px) top;
    background-repeat: no-repeat;
    background-size: 14px 14px;
}
/*===================== end Chat-student======================*/ 