/*=====================chat-curator=========================*/
.curator-search{
	position: relative;
	flex: 0 0 304px;
	margin-left: 15px;	
	display: flex;
	// align-items: center;	

	@include max-screen($md){
		margin-left: 0;
		margin-top: 10px;
	}
}
.lesson-chat__title{
	&--flex{
		display: flex;
	    justify-content: space-between;
	    align-items: flex-start;

	    @include max-screen($md){
	    	display: block;
	    }
	}

}
.curator-search__label{
	flex: 1 1 auto;
	position: relative;
}
.curator-search__input{
	display: block;	
	height: 44px;
	width: 100%;
	// width: 100%;
	// width: 270px;	
	border: 1px solid #6F6F75;
	padding: 10px 45px 10px 16px;
	font-family: $ibm-reg;
	font-size: 14px;
	line-height: 18px;
	border-radius: 5px;
	color: $gray-text;
	background-color: transparent;

	@include placecolor($text);

	&:focus{
		& + .curator-search__del{
		
			display: block;
		}
	}
}
.curator-search__send{
	position: relative;	
	flex: 0 0 34px;
	
	@media (any-hover: hover) { //только для устройств с ховером
			cursor: pointer;
		}

	.icon{
		@include absolute-center-old;
		left: 10px;
		font-size: 21px;
	}
}
.curator-search__del{
	position: absolute;
	height: 100%;
	width: 24px;
	height: 24px;
	right: 16px;
	top: 50%;
	margin-top: -12px;
	display: none;

	@media (any-hover: hover) { //только для устройств с ховером
			cursor: pointer;
		}

	.icon{
		font-size: 10px;
		color: $text;
	}
}
.item-lesson-chat__header {
	padding-right: 36px;
}
.item-lesson-chat__toggler{
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 11px 16px 10px 16px;
	background: #FFFFFF;
	border-radius: 5px;
	overflow: hidden;

	@include max-screen($md){
		flex-direction: column;
	}

	@include min-screen($md){
		
		height: 60px;
	}

	@media (any-hover: hover) { //только для устройств с ховером
			cursor: pointer;
		}
}
.item-lesson-chat__indicators{
	display: flex;
	// align-items: center;

	@include max-screen($md){
		margin-top: 10px;
		width: 100%;
	}
}
.item-lesson-chat__wait{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 124px;
	height: 36px;
	background: #FF7878;
	border-radius: 5px;
	margin-right: 39px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
}
.item-lesson-chat__arrow{
	position: absolute;
	right: 16px;
	top: 18px;
	width: 24px;
	height: 24px;
	margin-left: 16px;
	flex-shrink: 0;
	align-self: center;

	@include max-screen($md){
		margin-left: auto;
	}
	.icon{
		font-size: 8px;
		@include absolute-center-old;

	}
}
.lesson-chat__item{
	&--nomatch{
		.item-lesson-chat__body{
			border-bottom: none;
		}
	}
	&--bg{
		background-color: #fff;
		border-radius: 5px;

		&:not(:last-child){
			margin-bottom: 10px;
		}

		.item-lesson-chat{
			.item-lesson-chat__body{
				padding-top: 10px;
			}
			.form__file-fild{

				max-width: 731px;
			}
		}

		.item-lesson-chat__header{
			margin-bottom: 0;
		}
		
		.item-lesson-chat__body{
			border-bottom: none;
			padding-bottom: 0;
		}
		& >.item-lesson-chat__body{
			padding-right: 16px;
			padding-left: 16px;
			margin-top: -3px;
			padding-bottom: 12px;
			border-bottom: none;
		}
		.item-lesson-chat__ques{
			padding-bottom: 23px;
		}
		.form-lesson-chat__area{
			max-width: 731px;

		}
		.form__file-fild{

			max-width: 731px;
		}
		
	}
	&.active{

		.item-lesson-chat__arrow{
			transform: rotate(180deg);
		}
	}
}
/*===================== end chat-curator======================*/ 