/*=====================Chat-student=========================*/
.bg_gray{
	background: $gray-bg;

}
.lesson-chat{
	// @include adaptive-value('padding-top', 70, 30, 1);
    // @include adaptive-value('padding-bottom', 70, 30, 1);


    p{
        line-height: 150%;
    }
}
.item-lesson-chat{
    &--answered{
        & > .item-lesson-chat__body{
            padding-bottom: 23px;
         }
         .lesson-chat__item{
           .item-lesson-chat__body{
             padding-bottom: 0;
             border-bottom: none; 
         }
         .item-lesson-chat__images {
            max-width: 657px;
        }
        .chat-images__main {
            flex: 0 0 prc(507, 657);
            padding-bottom: 49.925%;
            margin-right: 10px;

            @include max-screen($sm){
                flex:0 0 100%;
                margin-right: 0;

            }
        }
        .chat-images__others {
            flex: 0 0 calc(100% - prc(507, 657) - 10px);

            @include max-screen($sm){
                flex: 1 1 auto;
            }

            .item-lesson-chat__img {
                // flex: 0 0 calc(25% - 10px);

                }
            }
        }

     }

}
.lesson-chat__title{
    margin-bottom: 33px;
}
.form-lesson-chat__row{
	align-items: flex-start;

     .btn{
        width: 132px;
        font-size: 16px;
     }
}
.form-lesson-chat__file{
    padding-top: 10px;
}
.form-lesson-chat__row{
}
.form-lesson-chat__area{
    // outline: 1px solid red;
    flex: 1 1 auto;
    align-self: stretch;

    .ui-resizable-s {
        cursor: s-resize;
        // width: 28px;
        height: 30px;
        bottom: 0;
        right: 50px;
        left: 0;
        background-image: url(../img/textarea-angle.svg);
        background-position: calc(100% - 21px) top;
        background-repeat: no-repeat;
        background-size: 14px 14px;

        @include max-screen($md){
            display: none;
        }
    }
}
.form-lesson-chat__row .form__textarea {
    width: 100%;
    padding: 16px;
    min-height: 160px;
    height: 100%;
    font-size: 14px;
    line-height: 18px;
    border-radius: 5px;
    border: 1px solid #6F6F75;
    font-family: "IBMPlexSans-Regular", sans-serif;
    color: #2D2D2F;
    background-color: transparent;
    display: block;
    vertical-align: middle;
    padding: 10px 16px 0 16px;
    resize: none;
    outline: none;
}
.form__file-fild{
    max-width: 974px;
}
.item-lesson-chat__actions{
    .item-lesson-chat__write{

        &:not(:last-child){
            margin-right: 10px;
        }
    }
}
.item-lesson-chat__body{
    padding-bottom: 27px;
    border-bottom: 1px solid rgba($gray-text, .3);
}
.item-lesson-chat__body p{
    margin-bottom: 5px;
}
.item-lesson-chat__ques{
    padding-bottom: 13px;
    p{
        font-size: 18px;
    }
}
.item-lesson-chat__images {
    display: flex;
    max-width: 732px;
    margin-top: 10px;
    margin-bottom: 5px;

    @include max-screen($sm){
       flex-wrap: wrap; 
    }
}
.chat-images {}
.chat-images__main {
    padding-bottom: 51.368%;
    margin-bottom: 10px;
    flex: 0 0 100%;
    @include min-screen($sm){
        flex: 0 0 prc(582, 732);
         margin-right: 10px;
        margin-bottom: 0;
    }
}
.item-lesson-chat__img {
    display: block;
    margin-bottom: 0;
    max-width: none;
}
._fit-img {}
.chat-images__others {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: -10px;

    .item-lesson-chat__img {
        padding-bottom: prc(55,140);
        flex: 0 0 calc(100% - 10px);
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;

        @include min-screen(375px){
            flex: 0 0 calc(50% - 10px);
            padding-bottom: prc(30,140);
            
        }

        @include min-screen($sm){
            padding-bottom: 0;
            flex: 0 0 calc(25% - 10px);
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 0;
            margin-right: 0;
        }

    }
    @include max-screen($sm){
        margin-left: -5px;
        margin-right: -5px;
    }
    @include min-screen($sm){
         flex: 0 0 calc(100% - prc(582, 732) - 10px);
         flex-wrap: nowrap;
        overflow: hidden;
        margin-bottom: 0;
         flex-direction: column;
        margin-top: -5px;
        margin-bottom: -5px;
    }
}
.mfp-arrow{
    .icon{
        color: #fff;
        font-size: 24px;
    }

    &.mfp-arrow-right{
        .icon{
            transform: rotate(180deg);
        }
    }
    &:after,
    &:before{
        opacity: 0;
    }
}
@import "../js/libs/jquery-ui-1.13.2.custom/jquery-ui.min";
@import "../js/libs/jquery-ui-1.13.2.custom/jquery-ui.theme";
@import "../js/libs/jquery-ui-1.13.2.custom/jquery-ui.structure.min";

/*===================== end Chat-student======================*/ 