/*--------------------course-paid----------------------*/
.page-course {
	.wide-container {
		background-color: $gray-bg;

		@include max-screen($sm){
			padding-top: 40px;
			padding-bottom: 40px;
		}  
	}
	.chat-container{
		background-color: transparent;
	}

}
.wrapper-simple {}
.course-card {
	display: flex;
	align-items: center;

	@include adaptive-value('margin-bottom', 30, 29, 1);

	@include max-screen(800px){
		flex-wrap: wrap;
	}  
}
.course-card__info {
	flex: 0 1 auto;
	padding-right: 70px;
	position: relative;

	@include max-screen(800px){
		flex: 1 1 auto;
		padding-bottom: 50px;
		padding-right: 0;
	}  

	h1 {
		margin-bottom: 10px;
		font-family: $bold;
		@include adaptive-value('font-size', 56, 1, 1);
		line-height: 110%;

		@include max-screen(800px){
			font-size: 48px;
		}
		@include max-screen($sm){
		  	font-size: 36px;
		  }
	  @include max-screen(350px){
	      	font-size: 30px;
	      }      
	}

	.program-icon{
		width: 64px;
		height: 64px;
		position: absolute;
		z-index: 2;
		right: -34px;
		top: 50%;
		margin-top: -34px;

		@include max-screen(800px){
			right: 0;
			top: auto;
			left: 0;
			margin: auto;
			bottom: -34px;
			margin-top: 0;
		}  
	}
}
.course-card__header {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
	.tag {

		&:not(:last-child){
			margin-right: 10px;
		}
	}
}


.course-card__text {
	margin-bottom: 20px;
	font-size: 20px;
line-height: 136.02%;
}
.course-card__tags {
	display: flex;
	flex-wrap: wrap;

	.tag{
		&:not(:last-child){
			margin-right: 10px;
		}
	}
}
.course-card__img {
	flex: 0 0 400px;
	padding-bottom: 34.2%;
	position: relative;
	border-radius: 10px;
	overflow: hidden;

	@include max-screen(800px){
		flex: 1 1 auto;
		padding-bottom: 52.52%;
	}  

	@include max-screen($xs){
		padding-bottom: 100%;
	}  
	
}

.page-course__preview {
	margin-bottom: 70px;
	.programms-preview {
		max-width: 640px;
		display: flex;
		align-items: center;
		text-decoration: none;
		color: $text;

		@include max-screen($xs){
			flex-wrap: wrap;
		}  
	}
	.programms-preview__img {
		flex: 0 0 50%;
		padding-bottom: 26.25%;
		margin-right: 30px;
		margin-bottom: 0;

		@include max-screen($xs){
			flex: 1 1 100%;
			padding-bottom: prc(168, 300);
			margin-bottom: 30px;
			margin-right: 0;
		} 
	}
	.programms-preview__text {
		flex: 1 1 50%;

		@include max-screen($xs){
			flex: 1 1 100%;
		}  
	}

}
.page-course__title{
	margin-bottom: 20px;
	font-family: $bold;
	font-size: 28px;
	line-height: 34px;
}


.course-chapters {}
.course-chapters__title {
	@include adaptive-value('margin-bottom', 30, 19, 1);
	@include adaptive-value('font-size', 36, 27, 1);
	font-family: $bold;
	font-size: 36px;
	line-height: calc(44/36);
}
.course-chapters__content {
	li{
		list-style-type: none;
	}
}
.accordion__item {}
.course-chapters__item {
	&:last-child{

		.course-chapters__link {
			padding-bottom: 0;
		}
	}
	&:not(:last-child){
		border-bottom: 1px solid #DBDBDB;

	}

}
.course-chapters__link {
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 24px;
	line-height: 136.02%;
	cursor: pointer;

	@include max-screen(320px){
		font-size: 18px;
	}

	&.viewed{
		.chapter-icons__completed{
			display: block;
		}
	}
}
.viewed {}
.chapter-num {
	width: 30px;
	margin-right: 10px;
	flex-shrink: 0;
}
.chapter-val {
	flex: 1 1 auto;
}
.chapter-icons {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	margin-left: 15px;
}
.chapter-icons__completed {
	display: none;
	width: 20px;
	height: 20px;
	margin-right: 30px;
	border-radius: 50%;
	position: relative;
	background-color: $accent;

	.icon{
		@include absolute-center;
		font-size: 6px;
	}
}
.chapter-icons__expand {
	width: 24px;
	height: 24px;
	position: relative;
	.icon { 
		@include absolute-center;
		font-size: 9px;
	 }

}
.chapter-icons__locked {
	width: 24px;
	height: 24px;
	position: relative;
	margin-right: 28px;
	.icon { 
		@include absolute-center;
		font-size: 22px;
	 }

}
.icon-chevron-down {}
.accordion__content {}
.course-chapter__sublist {
	padding-left: 70px;
	margin-bottom: 20px;

	@include max-screen($xs){
		padding-left: 30px;
	}
}
.hidden {}
.course-chapters__item {
	&:last-of-type{
		.course-chapter__sublist{
			padding-top: 20px;
		}
	}
}
.course-chapters__subitem {


	&:not(:last-child){
		margin-bottom: 10px;
	}
}
.course-chapters__sublink {
	display: flex;
	font-size: 18px;
	line-height: 150%;
	text-decoration: none;
	color: $text;

	@include max-screen(320px){
		font-size: 14px;
	}

	&.viewed{
		.chapter-icons__completed{
			display: block;
		}
	}
	.chapter-num {
		min-width: 30px;
		width: auto;
		margin-right: 10px;
		flex-shrink: 0;
	}
	.chapter-icons__completed {
		margin-right: 54px;
	}
}
/*--------------------END course-paid----------------------*/ 