/*--------------------lessons-page----------------------*/
.page-lessons {
	@include adaptive-value('padding-top', 34, 0, 1);
	
	.wide-container {
		background-color: $gray-bg;
		@include adaptive-value('padding-bottom', 70, 39, 1);
		
		.filter-tags {
			padding-top: 0;
		}
	}
	
}

.lessons-cards{
	@include max-screen($xss){
		margin-left: 0;
		margin-right: 0;
	}  
}
.lesson-card {
	@include col();
	@include size(4);
	@include size-md(6);
	@include size-sm(12);
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	text-decoration: none;
	color: $text;

	@include max-screen($xss){
		margin-left: -20px;
		margin-right: -20px;
		width: calc(100% + 40px);
	}  
}
.lesson-card__img {
	flex-shrink: 0;
	padding-bottom: prc(147,370);
	overflow: hidden;
	border-radius: 10px 10px 0 0;
}
.lesson-card__label{
	position: absolute;
	bottom: 10px;
	left: 20px;
}
.lesson-card__body{
	flex: 1 1 auto;
	padding: 15px 20px 0 20px;
	background-color: #fff;

	@include max-screen($xss){

	}  

	h2{
		margin-top: 0;
		margin-bottom: 5px;
		font-size: 16px;
		line-height: 19.5px;
		font-family: $semi;
	}
}
.lesson-card__text{
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 140%;
}
._fit {}
._fit-img {}
.lesson-card__footer {
	padding: 0 20px 20px 20px;
	margin-top: auto;
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;
	border-radius: 0 0 10px 10px;
	background-color: #fff;
	color: $gray-text;
	font-size: 14px;
	line-height: 18px;
}
.lesson-card__views {
	display: flex;
	align-items: center;
	margin-right: 15px;
	.icon {
		font-size: 10px;
		margin-right: 6.33px;
	}
}

.page-course-lesson {}
.wrapper-simple {}
.lesson {
	@include adaptive-value('padding-bottom', 104, 59, 1);
	h1{
		@include adaptive-value('font-size', 28, 20, 1);
		@include adaptive-value('margin-bottom', 40, 29, 1);
		line-height: calc(34/28);

	}


}
.lesson__chapter {
	font-size: 18px;
line-height: 150%;
}
/*--------------------sheildlable----------------------*/
.lesson__header{
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-items: center;
}
.lesson__shieldlabel{
	flex-shrink: 0;
	margin-right: 10px;
	padding: 3px 10px;
	border: 1px solid #6B6B72;
	border-radius: 50px;
	font-size: 12px;
	line-height: 15px;
	color: #2D2D2F;
	font-family: $semi;
}
/*--------------------END sheildlable----------------------*/ 
.video-lesson {

}
.video-lesson__view {
	@include adaptive-value('margin-bottom', 28, 25, 1);
}
.video-lesson__panel {
	padding: 10px 30px;
	margin-bottom: 41px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $gray-bg;
	
	@include max-screen($md){
		display: block;
		padding: 0;
		background-color: transparent;
	}
	@include max-screen($xs){
		position: relative;
	}
	a{
		text-decoration: none;
		color: $text;
	}
}
.video-lesson__handler {
	display: flex;
	align-items: center;
	margin-left: -10px;
	margin-right: -10px;

	@include max-screen($md){
		width: 100%;
		padding: 10px 0;
		margin-left: 0;
		margin-right: 0;
		justify-content: space-between;
		margin-bottom: 24px;
		background-color: $gray-bg;
	}
	@include max-screen($xs){
		display: inline-flex;
		justify-content: flex-start;
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 10px;
		padding-right: 10px;
		width: calc(100% + 40px);
	}

	.prev-icon,
	.next-icon {
		margin-left: 10px;
		margin-right: 10px;
	}

}
.video-lesson__prev,
.video-lesson__next {
	display: flex;
	align-items: center;

	&:first-child{
		@include adaptive-value('margin-right', 50, 0, 1);
	}
	span{
		@include max-screen($xs){
			display: none;
		}
	}

}
.prev-icon,
.next-icon {
	width: 40px;
	height: 40px;
	background-color: $accent;
	border-radius: 50%;
	position: relative;

	.icon{
		@include absolute-center;
		font-size: 10px;
	}
}
.video-lesson__materials {
	@include max-screen($xs){
		display: flex;
		justify-content: space-between;
	}
}
.video-lesson__material {
	&:first-child{
		@include adaptive-value('margin-right', 30, 0, 1);
	}

	@include max-screen($xs){
		font-size: 14px;
	}

	.icon {
		margin-bottom: 2px;
		vertical-align: middle;
		margin-right: 6px;
		font-size: 17px;
	}

}
.lesson-menu-label{
	position: fixed;
	top: 325px;
	right: 0;
	z-index: 98;
  transform: rotate(180deg);

  @include max-screen($xs){
  	position: absolute;
  	right: 0;
  	top: 10px;
  	z-index: 1;
  	// transform: translateY(-50%);
  }  
}										
.lesson-menu-label__desc{
	padding: 30px 15px ;
	text-align: center;
	background: $accent;
	font-family: $semi;
	font-size: 18px;
	border-radius: 0px 5px 5px 0px ;
	text-orientation: mixed;
  writing-mode: vertical-rl;
  cursor: pointer;

	@include max-screen($xs){
		display: none;
	}  
}										
.lesson-menu-label__mob{
	width: 40px;
	height: 40px;
	background-color: $accent;
	border-radius: 50%;
	position: relative;

	@include min-screen($xs){
		display: none;
	} 
	.icon{
		@include absolute-center-old;
		font-size: 20px;
	}		

}
.block-lesson {
	// &:last-of-type{
		margin-bottom: 60px;
	// }
	p{
		margin-top: 0;
	}
	.btn {
		margin-top: 20px;
		height: 36px;
	}
	ol{
		@extend .block-page-contest__list;
		li{
			padding-left: 34px;
			&:before{
				left: 0;
			}

		}
	}
	ul{
		padding-left: 41px;
		li{
			position: relative;
			list-style-type: none;
			margin-bottom: 10px;
			font-size: 18px;
			line-height: 150%;

			&:before{
				content: '';
				width: 8px;
				height: 8px;
				background-color: #2D2D2F;
				border-radius: 50%;
				position: absolute;
				left: -27px;
				top: 7px;
			}
		}
	}
}
.block-lesson__title {
	margin-bottom: 10px;
	margin-top: 30px;
	font-family: $bold;
	font-size: 20px;
line-height: 24px;
}

.mark-lesson {
	display: flex;
	align-items: center;
}
.mark-lesson__label {
	margin-right: 12px;
	font-size: 20px;
line-height: 24px;
font-family: $bold;
}
.mark-lesson__icon {
	display: flex;
	align-items: center;
	color: $text;
	text-decoration: none;
	.icon {
		margin: 0 12px;
		font-size: 27px;
	}
}
.icon-unlike {}
.wide-container {
	@include max-screen($sm){
		padding-bottom: 40px;
		padding-top: 40px;
	}
}
.lesson-chat {
	// p{
	// 	margin-top: 0;
	// }
}
.lesson-chat__title {
	margin-bottom: 30px;
	font-family: $bold;
	font-size: 28px;
	line-height: 34px;
}
.item-lesson-chat {
	// padding-bottom: 30px;

	&:not(:last-child){
		margin-bottom: 30px;
		
	}
	.item-lesson-chat {
		position: relative;
		padding-left: 40px;
		margin-top: 30px;
		padding-bottom: 0;
		margin-bottom: 0;

		@include max-screen($xs){
			padding-left: 20px;
		}
		@include max-screen($xs){
			padding-left: 15px;
		}
		@include max-screen(320px){
			padding-left: 0;
		}

		&:before{
			content: '';
			position: absolute;
			width: 15px;
			height: 30px;
			top: -12px;
			left: 13px;
			border-bottom: 1px solid #FFE400;
			border-left: 1px solid #FFE400;
			border-bottom-left-radius: 10px;
		}

		.item-lesson-chat__header {
			@include max-screen($xs){
				padding-left: 40px;
			}
		}

		.form-lesson-chat__row{
			@include max-screen($sm){
				flex-direction: column;
				align-items: flex-start;
			}

			.form__textarea{
				@include max-screen($sm){
					width: 100%;
					margin-bottom: 20px;
				}
			}
			.form__label:last-of-type {
				@include max-screen($sm){
			    	margin-bottom: 23px;
				}
			}

		}

		.form__file-fild {
			max-width: none;
			margin-right: 186px;

		}

	}
}
.item-lesson-chat__header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;

	@include max-screen(375px){
		align-items: flex-start;
	}
}
.item-lesson-chat__avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	flex-shrink: 0;
	margin-right: 10px;

	img{
		@include absolute-center;
	}
}
.item-lesson-chat__user {
	font-size: 14px;
	line-height: 17px;
}
.item-lesson-chat__name {
	font-family: $semi;

	span{
		
	}
}
.item-lesson-chat__role {
	margin-left: 10px;
	color: $gray-text;
	font-family:$ibm-reg;
	font-size: 14px;

	@include max-screen(375px){
		display: block;
		margin: 5px 0;
	}
}
.item-lesson-chat__time {
	color: $gray-text;

}
.item-lesson-chat__body {
	p{
		margin-top: 0;
		margin-bottom: 10px;
	}
}
.item-lesson-chat__write {
	font-size: 13px;
}
.item-lesson-chat__img {
	max-width: 507px;
	margin-bottom: 10px;
	img{
		display: block;
		max-width: 100%;
	}
}
.lesson-chat__form {}
.form {}
.form-lesson-chat {
	margin-top: 30px;
	input[type="file"]{
		@include checkbox;
	}
}
textarea::-moz-resizer,
textarea::-webkit-resizer {
			// background-color: #fff;
			width: 100px;
			height: 100px;
			outline: 1px solid red;
			position: relative;
			right: 50px;
			background-image:  url(../img/textarea-angle.svg);
			background-position: center 0;
			background-repeat: no-repeat;
			background-size: contain;
		}

.form-lesson-chat__row {
	display: flex;
	align-items: center;
	margin-bottom: 20px;

	@include max-screen($xs){
		flex-direction: column;
		align-items: flex-start;
	}
	.form__textarea{
		padding: 16px;
		min-height: 160px;
		font-size: 14px;
		line-height: 18px;
		border-radius: 5px;
		border: 1px solid #6F6F75;
		font-family: $ibm-reg;
		color: $text;
		background-color: transparent;
		@include placecolor($text);
		display: block;
		vertical-align: middle;
		padding: 10px 16px 0 16px;
		flex: 1 1 auto;
		// max-width: 974px;
		height: auto;
		resize: vertical;
		outline: none;


		@include max-screen($xs){
			width: 100%;
			margin-bottom: 20px;
		}
	}
		
	
	.form__label{
		margin-bottom: 0;

		&:last-of-type{
			margin-bottom: 0;
			@include max-screen($xs){
				margin-bottom: 23px;
			}
		}


	}
	.file-icon {
		width: 24px;
		height: 24px;
		margin-left: auto;
		margin-right: 20px;
		margin-left: 20px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 auto;
		vertical-align: middle;
		cursor: pointer;

		@include max-screen($xs){
			margin-left: 0;
			margin-right: 0;
		}

		.icon{
			font-size: 18px;
		}
	}
	.btn {
		flex-shrink: 0;

	}
}
.form-lesson-chat__add-file{
	vertical-align: middle;
	margin-left: 5px;
	font-family: $semi;
	@include min-screen($xs){
		display: none;
		
	}
}
.form-lesson-chat__field{
	margin-bottom: 0;
}
.form__file-fild {
	max-width: 985px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px dashed #6F6F75;
	border-radius: 5px;
	font-size: 14px;
	line-height: 18px;
	color: #2D2D2F;
	cursor: pointer;

	@include max-screen($md){
		display: none;
	}

	&.highlight{
		border: 2px solid $accent;
	}
}

.menu-page-course{
	position: fixed;
	z-index: 97;
	width: 568px;
	right: 0;
	top: 0;
	background-color: $gray-bg;
	height: 100%;
	transform: translateX(100%);
	transition: all 0.2s ease-in;

	@include max-screen($xs){
		width: 100%;
		top: 0;
		padding: 20px;
	}  
}
.menu-page-course__header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	z-index: 2;
	width: 100%;
	padding: 50px 50px 20px 50px;
	top: 0;
	left: 0;
	background-color: $gray-bg;

	@include max-screen($xs){
		padding: 20px;

	} 
	@include min-screen($xs){
		justify-content: flex-start; 	
	}   

	.next-icon{
		@include min-screen($xs){
			display: none;
		}  
	}
}
.menu-page-course__inner{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 100px;
	padding: 100px 50px 50px 50px;
	height: 100%;
	overflow: auto;

	@include max-screen($xs){
		padding: 70px 20px 20px 20px;
	}  
}
.menu-page-course__title{
	font-size: 28px;
line-height: 34px;
font-family: $bold;
	span{
		&:first-child{
			@include min-screen($xs){
				display: none;
			}  
			
		}
		&:last-child{
			@include max-screen($xs){
				display: none;
				
			}  
		}

	}
}
.mfp-zoom-out-cur .mfp-image-holder .mfp-close{
	width: auto;
	top: 0;
}
/*--------------------кнопки меню курса----------------------*/
.menu-page-course__close{
	@include absolute-center-old;
	left: auto;
	top: auto;
	bottom: 20px;
	right: 50px;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background-color: $text;
	border: none;

	@include max-screen($xs){
		display: none;
	}


	@media (any-hover: hover) { //только для устройств с ховером
		cursor: pointer;
	}

	.icon{
		@include absolute-center;
		font-size: 15px;
		color: $accent;
	}
}
.lesson__header{
	position: relative;
	.lesson-menu-label__mob{
		position: absolute;
		right: 0;
		width: 60px;
		height: 60px;

		@include max-screen($xs){
			display: none;
		}

		@include min-screen($xs){
			display: block;
		}

		.icon{
			font-size: 24px;
		}
	}

}
.lesson h1{
	@include min-screen($xs){
		padding-right: 65px;
		
	}
}
/*--------------------END кнопки меню курса----------------------*/ 
/*--------------------END lessons-page----------------------*/ 