/*--------------------_programms-page----------------------*/
.page {}
.page-programms {
	position: relative;
}
.wrapper-simple {}
.programms-cards-slider{
	// @include max-screen($sm){
	// 	margin-left: 10px;
	// }
	@include max-screen($sm){
		margin-bottom: 30px;
	}

	&.slick-dotted{
		@include max-screen($sm){
			margin-bottom: 30px;
		}
	}
	.slick-list{
		@include max-screen($sm){
			padding:0 10% 0 0 !important;
			width: calc(100% + 15px);
		}
	}
	.slick-track{
		display: flex;
		flex-wrap: wrap;
		@include min-screen($sm){
			width: 100% !important;
			transform: translate3d(0px, 0px, 0px) !important;
		}
		@include min-screen($md){
			width: calc(100% + 30px) !important;
			margin-left: -15px;
			margin-right: -15px;
			// margin-left: 0;
			// margin-right: 0;
		}
	}

	&.slick-initialized .slick-slide.programm-card--promotional{
		display: flex;
		&.slick-cloned{
			@include min-screen($sm){
				display: none;
				
			}
		}
	}
	.slick-slide{

		&:not(.programm-card--promotional){
			display: flex;
		}
		float: none;
		height: auto;

		&.slick-cloned{
			@include min-screen($sm){
				display: none;
				
			}
		}
	}
	.programm-card {
      	&:not(.programm-card--promotional){
			display: flex;
	    	@include max-screen($xss){
	    		flex-direction: column;
	    	}
		}

    	@include min-screen($sm){
    		margin-bottom: 30px;
    		width: 100% !important;
    		margin-left: 0;
    		margin-right: 0;
    		
    	}
    	@include min-screen($md){
    		width: calc(50% - 30px) !important;
    		margin-left: 15px;
    		margin-right: 15px;
    	}
    	@include max-screen($sm){
    		margin-left: 0;
    		margin-right: 30px;   		
    	}
	}
	.programm-card__top{
		@include max-screen($xss){
    		flex-direction: column;
    	}
	}
	.programm-card__img{
		// height: 280px;
		@include max-screen($xss){
			flex: 1 1 auto;
			height: 280px;
		}
	}
	.program-icon{
		@include max-screen($xss){
			right: auto;
			left: 50%;
			bottom: -24px;
			transform: translateX(-50%);
			
		}
	}
	.programm-card__content{
		@include max-screen($xss){
			padding-bottom: 30px;
		}
	}
	.slick-dots{
		margin-top: 10px;
		text-align: left;
	}
}
.programms-choice-slider{

	&.slick-dotted{
		margin-bottom: 20px;

	}
	.slick-list{
		@include max-screen($xs){
			padding-right: 10% !important;
			
		}
		@include max-screen($sm){
			margin-left: -15px;
			margin-right: -15px;

		}
		@include min-screen($xs){
			margin-bottom: 20px;
			
		}
		@include min-screen($sm){
			margin-bottom: 20px;
			margin-bottom: 0;
		}  
	}

	.slick-track{

			display: flex;
			flex-wrap: wrap;
		@include min-screen($sm){
			margin-left: -15px;
			margin-right: -15px;
			width: calc(100% + 30px) !important;
			transform: translate3d(0px, 0px, 0px) !important;
		}
	}

	.slick-slide{
		margin-left: 15px;
		margin-right: 15px;
		height: auto;
		float: none;
		min-height: 140px;

		@include min-screen($sm){
			max-width: calc(50% - 30px);
			width: calc(50% - 30px) !important;
		}
		@include min-screen(1100px){
			max-width: calc(33.33333% - 30px);
			width: calc(33.33333% - 30px) !important;

		}
		@include min-screen($sm){
			margin-bottom: 20px;
		}
		@include max-screen($sm){
			max-width: none;
			// margin-left: 0;
			// margin-right: 30px;
		}

		.your-choice__title{
			max-height: 40px;
			overflow: hidden;

		}
	}

	.slick-cloned{
		@include min-screen($sm){

			display: none !important;
		}
	}
	.slick-dots{
		margin-top: 10px;
		text-align: left;
	}
}
.programms-filters {
	@include col();
	flex: 1 1 170px;

	@include max-screen($sm){
		display: none;
		position: fixed;
		z-index: 99;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		margin-left: 0;
		margin-right: 0;
		padding: 30px;
		overflow-y: auto;
		background-color: $gray-bg;
	}

	&.active{

		@include max-screen($sm){
			display: block;
		}

		.programms-filters__close{
			display: block;
		}
	}
}
.filter-open-icon{
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: $accent;

	.icon{
		@include absolute-center;
		font-size: 18px;

		@include max-screen(320px){
			font-size: 14px;
		}
	}
	@include min-screen($sm){
		display: none;
	}
	@include max-screen(320px){
		width: 40px;
		height: 40px;
	}
}
.programms-content {
	@include col();
	width: calc(100% - 170px - 60px);
	flex-shrink: 0;

	@include max-screen($sm){
		width: calc(100% - 30px);
	}
}
.programms-content__block {
	margin-bottom: 30px;
	&.expanded{
		.programms-cards-slider{
			&.slick-dotted{
				margin-bottom: 0;
			}
			.slick-list{
				// height: auto !important;
				padding: 0 0 0 0 !important;
			}
			.slick-track{
				margin-left: 0;
				margin-right: 15px;
				width: calc(100% + 15px) !important;
				transform: translate3d(0px, 0px, 0px) !important;

				@include min-screen($md){
	    		margin-right: -15px;
	    		margin-left: -15px;
	    	}

				.slick-slide{
					display: flex;
					float: none;
					height: auto;
				}

				.programm-card {
			    	display: flex;
		    		width: calc(100% - 30px) !important;

			    	@include min-screen($sm){
			    		margin-bottom: 30px;
			    		width: 100% !important;
			    		
			    	}
			    	@include min-screen($md){
			    		width: calc(50% - 30px) !important;
			    		margin-right: 15px !important;
			    		margin-left: 15px;
			    	}
			    	@include max-screen($sm){
			    		margin-left: 0;
			    		margin-right: 0;   		
			    	}

				}

				.slick-slide{
					margin-right: 0;
					&:not(:last-of-type){
						margin-bottom: 30px;
					}
					&.slick-cloned{
						display: none !important;
					}
				}
			}
			.slick-dots{
				display: none !important;
			}
		}
		.programms-choice-slider{
			&.slick-dotted{
				margin-bottom: 0;
			}
			.slick-list{
				padding-right: 0 !important;
			}
			.slick-track{
				// margin-left: -15px;
				// margin-right: -15px;
				display: flex;
				flex-wrap: wrap;
				width: 100% !important;
				transform: translate3d(0px, 0px, 0px) !important;
	
				.slick-slide{
						margin-bottom: 30px;

					@include max-screen($sm){
						max-width: calc(50% - 30px);
						width: calc(50% - 30px) !important;
					}  
					@include max-screen($xs){
						max-width: 100% !important;
						width: 100% !important;
						display: block;
					}  

					&.slick-cloned{
						display: none;
					}
				}
			}

			.slick-dots{
				display: none !important;
			}
		}

		&.btn{
			display: none;
		}
	}
	& > .btn{
		@include min-screen($sm){
			display: none;
		}
	}
}
.programms-filters__title {
	margin-bottom: 20px;

	@include max-screen($sm){
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		padding: 30px;
		background-color: $gray-bg;
		z-index: 2;
	}
}
.programms-filters__close{
	position: fixed;
	right: 30px;
	top: 20px;
	z-index: 3;
	display: none;


}
.programms-filters__block {
	margin-top: 30px;

}
.programms-filters__heading {
	margin-bottom: 15px;
	font-family: $bold;
	font-size: 16px;
line-height: 20px;
}
.form__label {
	&:not(:last-child){
		margin-bottom: 17px;
		
	}
}
.form__checkbox {}
.form__false-checkbox {
	margin-right: 9px;
}
.icon {}
.icon-check {}
.form__checkbox-label {
	
}
.programms-filters__value {
	color: $gray-text;
	margin-left: 10px;
}
.tag-filters{
	display: none;
	flex-wrap: wrap;
	// @include adaptive-value('margin-bottom', 0, 16, 1);

	&.active{
		display: flex;
	}

	@include max-screen($sm){
		margin-bottom: 16px;
	}
}
.tag-fllter{
	margin-bottom: 20px;
	display: flex;
	align-items: center;

	&:not(:last-child){
		margin-right: 20px;
	}

	.icon{
		font-size: 14px;
		color: #6F6F75;
		cursor: pointer;
	}
}
.tag-fllter__val{
	margin-right: 5px;
	font-size: 14px;
line-height: 18px;
	color: #6F6F75;
}
.programm-action {
	@include row-flex();

	@include adaptive-value('margin-bottom', 70, 29, 1);

	h1{
		margin-bottom: 20px;
		font-size: 36px;
		line-height: calc(44/36);

		@include max-screen($xs){
			font-size: 28px;
		}
	}
}
.programm-action__block {
	@include col();

	&:first-child{
		@include size(5);	
		@include size-lg(6);	
		@include size-md(12);

		@include max-screen($lg){
			margin-bottom: 30px;
		}
		
	}
	&:last-child{
		@include size(6);	
		@include size-lg(6);	
		@include size-md(12);	
		@include shift-left(1);
		@include shift-smart-left(0);
	}

}
.programm-action__sale {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 64px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 36px;
	font-family: $bold;
	line-height: 44px;
	background-color: $accent;

}
.programm-action__text {
	margin: 0;
	font-size: 20px;
	line-height: 136.02%;

	@include max-screen($xs){
			font-size: 16px;
		}
}
.programm-action__video {}

.programms-previews {
	@include row-flex();

	.programms-preview {
		@include col();
		@include size(4);
		@include size-md(6);
		@include size-xs(12);

		text-decoration: none;
		color: $text;

		&:not(:last-child){
			@include max-screen($xs){
				margin-bottom: 30px;
			}  
			
		}
	}
}
.programms-preview__img {
	display: block;
	padding-bottom: prc(168, 300);
	margin-bottom: 10px;

	.play-button{
		width: 50px;
		height: 50px;

		.icon{
			margin-left: 0;
			font-size: 15px;
		}
	}
}

.programms-preview__text {}
.programms-preview__title {
	margin-bottom: 5px;
	font-family: $semi;
	font-size: 14px;
	line-height: 17px;
}
.programms-preview__chapter {
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 18px;
}

.status-programms-preview {
	display: flex;
	align-items: center;
}
.status-programms-preview__state {
	border-radius: 5px;
	flex: 1 1 auto;
	background-color: #fff;
}
.status-programms-preview__line {
	height: 6px;
	border-radius: 5px;
	background-color: $accent;
}
.status-programms-preview__val {
	margin-left: 10px;
	flex-shrink: 0;
	font-family: $semi;
	font-size: 14px;
line-height: 17px;
}
/*--------------------END _programms-page----------------------*/ 