/*--------------------_programms-page----------------------*/
.page {}
.page-programms {

}
.wrapper-simple {}
.programms-cards-slider{
	// @include max-screen($sm){
	// 	margin-left: 10px;
	// }

	&.slick-dotted{
		@include max-screen($sm){
			margin-bottom: 30px;
		}

	}
	.slick-list{
		@include max-screen($sm){
			padding:0 10% 0 0 !important;
			
		}
	}
	.slick-track{
		@include min-screen($sm){
			margin-left: -15px;
			margin-right: -15px;
			width: 100% !important;
			display: flex;
			flex-wrap: wrap;
			transform: translate3d(0px, 0px, 0px) !important;
		}
	}

	.slick-slide{
		display: flex;
		@include min-screen($sm){
			float: none;
			height: auto;
			
		}
		&.slick-cloned{
			@include min-screen($sm){
				display: none;
				
			}
		}
	}
	.programm-card {
    	display: flex;

    	@include min-screen($md){
    		width: calc(50% - 30px) !important;
    		
    	}
    	@include min-screen($sm){
    		margin-bottom: 30px;
    		
    	}
    	@include max-screen($sm){
    		margin-left: 0;
    		margin-right: 30px;   		
    	}
    	@include max-screen($xss){
    		flex-direction: column;
    	}
	}
	.programm-card__img{
		// height: 280px;
		@include max-screen($xss){
			flex: 1 1 auto;
			height: 280px;
		}
	}
	.program-icon{
		@include max-screen($xss){
			right: auto;
			left: 50%;
			bottom: -24px;
			transform: translateX(-50%);
			
		}
	}
	.programm-card__content{
		@include max-screen($xss){
			padding-bottom: 30px;
		}
	}
	.slick-dots{
		margin-top: 10px;
		text-align: left;
	}
}
.programms-choice-slider{
	&.slick-dotted{
		margin-bottom: 20px;

	}
	.slick-list{
		@include max-screen($xs){
			padding-right: 10% !important;
			
		}
	}

	.slick-track{

			margin-left: -15px;
			margin-right: -15px;
		@include min-screen($sm){
			width: 100% !important;
			display: flex;
			flex-wrap: wrap;
			transform: translate3d(0px, 0px, 0px) !important;
		}
	}

	.slick-slide{
		margin-left: 15px;
		margin-right: 15px;
		max-width: calc(33.33333% - 30px);

		@include max-screen($lg){
			max-width: calc(50% - 30px);
		}
		@include min-screen($sm){
			height: auto;
			float: none;
			margin-bottom: 20px;
		}
		@include max-screen($sm){
			max-width: none;

		}
	}

	&.slick-initialized .slick-slide{
		display: flex;
	}
	.slick-cloned{
		@include min-screen($sm){

			display: none !important;
		}
	}
	.slick-dots{
		margin-top: 10px;
		text-align: left;
	}
}
.programms-filters {
	@include col();
	flex: 1 1 170px;

	@include max-screen($sm){
		display: none;
	}
}
.programms-content {
	@include col();
	width: calc(100% - 170px - 60px);
	flex-shrink: 0;

	@include max-screen($sm){
		width: calc(100% - 15px);
		margin-right: 0;
	}
}
.programms-content__block {
	.btn{
		@include min-screen($sm){
			display: none;
		}
	}
}
.programms-filters__title {
	margin-bottom: 20px;
}
.form {}
.programms-filters__block {
	margin-top: 30px;

}
.programms-filters__heading {
	margin-bottom: 15px;
	font-family: $bold;
	font-size: 16px;
line-height: 20px;
}
.form__label {
	&:not(:last-child){
		margin-bottom: 17px;
		
	}
}
.form__checkbox {}
.form__false-checkbox {
	margin-right: 9px;
}
.icon {}
.icon-check {}
.form__checkbox-label {
	
}
.programms-filters__value {
	color: $gray-text;
	margin-left: 10px;
}

/*--------------------END _programms-page----------------------*/ 