/*--------------------prof-folio----------------------*/
.prof-folio {
	@include adaptive-value('margin-top', 65, 29, 1);
	@include adaptive-value('margin-bottom', 35, 29, 1);
}
.wrapper-simple {}
.prof-folio__text {
	@include adaptive-value('margin-bottom', 70, 39, 1);
	font-size: 24px;
line-height: 136.02%;
}
.prof-folio__title {
	font-family: $bold;
	@include adaptive-value('font-size', 36, 19, 1);
	@include adaptive-value('margin-bottom', 30, 19, 1);
	line-height: calc(44/36);
}
.prof-folio__gallery {}
.prof-folio__grid {
	@include col();
	@include size(8);
	@include size-sm(12);
}
.prof-folio__tile {
	@include col();
	@include size(6);
	@include size-xs(12);
	padding-bottom: 30%;
	margin-bottom: 30px;
	border: 1px solid #6F6F75;

	@include max-screen($xs){
		padding-bottom: 50%;
	} 
	@include max-screen($xss){
		padding-bottom: 59.5%;
	}  
}

.prof-folio__portrait {
	@include col();
	@include size(4);
	@include size-sm(12);
	margin-bottom: 30px;
	padding-bottom: 42%;
	border: 1px solid #6F6F75;

	@include max-screen($xs){
		padding-bottom: 50%;
	} 
	@include max-screen($xs){
		padding-bottom: 126%;
	} 
}
.prof-folio__label{
	position: absolute;
	left: 20px;
	bottom: 10px;
}
/*--------------------END prof-folio----------------------*/ 